<!DOCTYPE html>
<html>
<head>
<title>店家列表 | 午餐系統</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
  <div class="navbar-header">
  <a class="navbar-brand" href="{% url 'home' %}">午餐系統</a>
  </div>
  </div>
</nav>

<div class="container">
  {% for store in stores %}
  <div class="store">
  <!-- 這裡傳入的參數會被用在 URL 的 capturing group 上，所以這樣就可以得到某個 store 的 URL -->
  <h2><a href="{% url 'store_detail' pk=store.pk %}">{{ store.name }}</a></h2> 
  <p>{{ store.notes }}</p>
  </div>
  {% endfor %}
</div>

</body>
</html>